/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-start-page {
    background-color: blue;
}

/* #endregion common */


/* #region header  */


.header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#flex-menu {
    width: 80%;
    display: flex;
    padding: 1rem 0;
}


.flex-nav {
    flex-grow: 3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

.login {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}

.jumbotron {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.jumbotron #flex-text {
    display: flex;
    margin: 2rem;
}

/* #endregion header  */


/* #region debug */


.debug .menu {
    background-color: yellow;
    border: 1px dashed black;
}

.debug .header-top {
    /* background-color: aqua; */
}

/* .debug .header-bottom{
    background-color: rgb(0, 150, 150);
    height: 100%;
} */

.debug .logo {
    height: 3rem;
}

.debug #flex-text {
    height: 300px;
    width: 600px;
    background-color: blueviolet;
    border: 1px dashed black;
}

/* main debug */

.debug .bg .debug .party-1 {
    height: 500px;
    background-color: yellow;
}


.debug .img-party-1 {
    height: 400px;
    background-color: rgb(135, 135, 255);
    width: 60%;
}


/* #endregion debug */

/* #region main */
.detail-party-1 {
    background: aliceblue;
    height: 400px;
    width: 40%;
}

#bg-party-1 {
    display: flex;
    background-color: rgba(141, 105, 105, 0.666);
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.party-1 {
    display: flex;
    margin: 2rem;
}

.container-party {
    max-width: 80%;
}

/* #endregion main */