/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-start-page {
    background-color: rgba(122, 211, 255, 0.647);
}

:root {
    --ds-light: #f6f6f6;
    --ds-white: #ffffff;
    --ds-blackfooter: #23272a;

}

--bg-grey: f6f6f6
/* #endregion common */


/* #region header  */


.header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#flex-menu {
    margin: auto;
    width: 80%;
    display: flex;
    padding: 1rem 0;
}


.flex-nav {
    flex-grow: 2;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

#flex-menu .logo {
    max-width: 25%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

.login {
    max-width: 25%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}

.menu {
    padding: 2rem;
}

.flex-nav {
    padding: 2rem 4rem;
}

.jumbotron {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.jumbotron #flex-text {
    display: flex;
    margin: 2rem;
}

/* #endregion header  */


/* #region debug */


.debug .menu {
    background-color: yellow;
    border: 1px dashed black;
}

.debug .header-top {
    background-color: aqua;
}

.debug #flex-text {
    height: 400px;
    width: 35%;
    background-color: blueviolet;
    border: 1px dashed black;
}

/* main debug */

.debug .container-party {
    border: 1px dashed black;
}

.debug .img-party {
    height: 400px;
    background-color: rgb(135, 135, 255);
    width: 60%;
}

.debug .detail-party {
    background: aliceblue;
    border: 1px dashed black;
    height: 500px;
}

.debug .detail-big {
    background: aliceblue;
    border: 1px dashed black;
    height: 700px;
}

.debug .container-party {
    background-color: rgb(135, 135, 255);

}

.debug .col {
    height: 500px;
    background-color: rgb(255, 213, 161);
    border: 1px dashed rgb(255, 255, 255);

}

.debug .flex-bottom {
    height: 40px;
    background-color: antiquewhite;
}
.debug .flex-bottom .logo {
    border: 1px dashed rgb(255, 255, 255);
    height: 20px;
}

/* #endregion debug */

/* #region main */
.back-grey {
    background-color: var(--ds-light)
}

.back-white {
    background-color: var(--ds-white)
}

.back-grey,
.back-white {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.container-party {
    width: 80%;
    display: flex;
    margin: 2rem;
}

.container-big {
    width: 80%;
    display: flex;
    margin: 2rem;
}

.detail-party {
    width: 40%;
}

.detail-big {
    width: 100%;
}

.img-party {
    width: 60%;
}

.back-grey .img-party {
    order: 2;
}

/* #endregion main */

#app-footer {
    background-color: var(--ds-blackfooter);
}

.flex-top {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 3rem 0;
}

.col.big {
    flex-grow: 2;
}

.col {
    flex-grow: 1;
}

.flex-bottom{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}